#main {
  display: flex;
  height: 100%;
}

#main aside {
  width: 0;
}

.container {
  width: 100%;
  margin: 10px;
}

@media screen and (min-width: 600px) {
  #main {
    flex-direction: row;
  }

  #main aside {
    width: 35%;
  }

  .container {
    width: 30%;
  }
}

h1, h3 {
  text-align: center;
}

header {
  padding: 20px;
}

footer > div {
  display: flex;
  justify-content: center;
  align-items: center;
}

#contact-description {
  display: flex;
  justify-content: center;
  align-items: center;
}

