#main {
  display: flex;
  height: 100%;
}

#main aside {
  width: 0;
}

.container {
  width: 100%;
}

@media screen and (min-width: 600px) {
  #main {
    flex-direction: row;
  }

  #main aside {
    width: 30vw;
  }

  .container {
    width: 40vw;
  }

  li {
    font-size: 16px;
  }
}


h1, h3 {
  text-align: center;
}

header {
  padding: 20px;
}

span {
  margin: 20px;
}

#contact-description {
  display: flex;
  justify-content: center;
  align-items: center;
}

#live-demo {
  background-color: orange;
  color: black;
}
